.container{
  margin-top: 30px;
}

.body-text {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
  color: #313D4E;
}


.h2-hed {
  font-family: 'Times New Roman', Times, serif;
}

.txt-blue {
  color: #313D4E;
}

.txt-blk {
  color: #000;
}